<div class="modal-header">
  <h4 class="modal-title">Reschedule Appointment</h4>
</div>
<div class="modal-body">
  <form [formGroup]="rescheduleForm" (submit)="submit()" class="row g-4">
    <!-- Purpose (read-only) -->
    <div class="col-12 form-floating">
      <input
        type="text"
        class="form-control"
        id="purpose"
        [value]="appointment.serviceInformation.name"
        readonly
        disabled
      />
      <label for="purpose">Purpose</label>
    </div>

    <!-- Date -->
    <div class="col-12 form-floating">
      <input
        type="date"
        class="form-control"
        id="date"
        [min]="today"
        formControlName="date"
      />
      <label for="date">New Appointment Date</label>
    </div>
    <div class="col-12">
      <div class="d-flex mb-3 flex-wrap gap-2">
        <span
          *ngFor="let item of slots"
          class="badge rounded-pill"
          [ngClass]="{
            'bg-primary': selectedSlot === item && isAvailable(item),
            'bg-secondary': selectedSlot !== item && isAvailable(item),
            'bg-light text-muted': !isAvailable(item)
          }"
          [class.disabled]="!isAvailable(item)"
          (click)="onSelectTimeSlot(item)"
        >
          {{ item }}
        </span>
      </div>
    </div>

    <!-- Notes -->
    <div class="col-12 form-floating">
      <textarea
        class="form-control"
        id="notes"
        formControlName="notes"
        style="height: 100px"
      ></textarea>
      <label for="notes">Additional Notes (optional)</label>
    </div>

    <!-- Submit Button -->
    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        {{ isLoading ? "Rescheduling..." : "Confirm Reschedule" }}
      </button>
    </div>
  </form>
</div>
