<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">Survey</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead class="table-primary">
        <tr>
          <th style="width: 220px">Name</th>
          <th style="width: 150px">Location</th>
          <th style="width: 180px">Program Type</th>
          <th style="width: 200px">Program</th>
          <th>Comment</th>
          <th style="width: 160px">Submitted</th>
          <th style="width: 80px">Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (item of surveys$ | async; track $index) {
        <tr>
          <!-- NAME + AVATAR -->
          <td>
            <div class="d-flex align-items-center gap-2">
              <img
                class="rounded-circle"
                width="40"
                height="40"
                [src]="item.profile || '../../../assets/images/profile.webp'"
              />
              <div class="fw-semibold name-ellipsis">{{ item.name }}</div>
            </div>
          </td>

          <!-- LOCATION -->
          <td class="text-muted">{{ item.location }}</td>

          <!-- PROGRAM TYPE -->
          <td>{{ item.programType }}</td>

          <!-- PROGRAM -->
          <td>{{ item.program }}</td>

          <!-- COMMENT (ELLIPSIS) -->
          <td class="comment-ellipsis">
            {{ item.comment }}
          </td>

          <!-- DATE -->
          <td class="text-muted">
            {{ item.submittedAt | date : "short" }}
          </td>

          <!-- ACTIONS -->
          <td>
            <div class="d-flex gap-2">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="viewSurvey(item)"
              >
                <i class="bi bi-eye-fill"></i>
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="delete(item.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
