<div class="container-fluid vh-100 m-0 p-0 overflow-hidden">
  <div class="d-flex flex-column h-100 overflow-hidden">
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand">Appointments</a>
        <form class="d-flex gap-2" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-success"
            type="button"
            style="min-width: 100px"
          >
            <i class="bi bi-arrow-clockwise"></i>
            Refresh
          </button>
        </form>
      </div>
    </nav>

    <div class="container-fluid flex-grow-1 p-3">
      <div class="schedule-container">
        <ul class="nav nav-pills nav-fill">
          @for (status of status$; track $index) {
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/administration/main/appointments']"
              [queryParams]="{ status: status }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ status }}
            </a>
          </li>
          }
        </ul>
        <div class="scrollable-table-wrapper">
          <table class="table table-hover table-borderless mb-0">
            <thead class="table-light sticky-top">
              <tr>
                <th scope="col">Personal Info</th>
                <th scope="col">Contact</th>
                <th scope="col">Purpose</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (item of appointments$ | async; track $index) {
              <tr>
                <td>
                  {{ item.personalInformation.name }}<br />
                  {{ item.personalInformation.email }}
                </td>
                <td>{{ item.personalInformation.contact }}</td>
                <td>{{ item.serviceInformation.name }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.time }}</td>
                <td>
                  <div class="d-flex gap-1">
                    @if (item.status == 'PENDING') {
                    <button class="btn btn-danger" (click)="reject(item)">
                      <i class="bi bi-x-lg"></i>
                    </button>
                    <button class="btn btn-success" (click)="confirm(item)">
                      <i class="bi bi-check-lg"></i>
                    </button>
                    } @if (item.status == 'CONFIRMED') {
                    <button
                      class="btn btn-outline-danger"
                      (click)="cancel(item)"
                    >
                      <i class="bi bi-x-lg"></i>
                    </button>
                    <button class="btn btn-success" (click)="complete(item)">
                      <i class="bi bi-check-lg"></i>
                      Complete
                    </button>
                    } @if (item.status == 'REJECTED' || item.status ==
                    'CANCELLED'){
                    <button class="btn btn-success" (click)="reschedule(item)">
                      <i class="bi bi-calendar-event-fill"></i>
                      Reschedule
                    </button>
                    }
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
