.schedule-container {
  background-color: white;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
}

.scrollable-table-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 200px); /* adjust based on navbar + padding */
}

thead.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}
