<div class="container-fluid p-3">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>News</button>
      <ng-template ngbNavContent>
        <div class="row g-4 justify-content-center">
          <div
            class="col-sm-10 col-md-6 col-lg-4"
            *ngFor="let item of news | async; let i = index"
            [ngClass]="{
              'animate-delay-0': i === 0,
              'animate-delay-1': i === 1,
              'animate-delay-2': i === 2
            }"
          >
            <div
              class="card rounded-3 shadow-sm border-0 h-100 animate__animated animate__fadeInUp"
            >
              <img
                *ngIf="item.image"
                [src]="item.image"
                class="card-img-top"
                alt="Announcement image"
                style="object-fit: cover; height: 180px"
              />
              <div class="card-body text-start d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text text-truncate" style="max-height: 3.6em">
                  {{ item.summary }}
                </p>
                <a
                  class="btn btn-link ms-auto mt-auto"
                  [routerLink]="['/landing-page/announcements', item.id]"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Events</button>
      <ng-template ngbNavContent>
        <div class="row g-4 justify-content-center">
          <div
            class="col-sm-10 col-md-6 col-lg-4"
            *ngFor="let item of events | async; let i = index"
            [ngClass]="{
              'animate-delay-0': i === 0,
              'animate-delay-1': i === 1,
              'animate-delay-2': i === 2
            }"
          >
            <div
              class="card rounded-3 shadow-sm border-0 h-100 animate__animated animate__fadeInUp"
            >
              <img
                *ngIf="item.image"
                [src]="item.image"
                class="card-img-top"
                alt="Announcement image"
                style="object-fit: cover; height: 180px"
              />
              <div class="card-body text-start d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text text-truncate" style="max-height: 3.6em">
                  {{ item.summary }}
                </p>
                <a
                  class="btn btn-link ms-auto mt-auto"
                  [routerLink]="['/landing-page/announcements', item.id]"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
