<nav class="navbar bg-primary navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>
<div class="container-fluid">
  <div class="masonry">
    @for (item of feedbacks$ | async; track $index) {
    <div class="masonry-item">
      <div class="card">
        <div class="card-header d-flex gap-2 align-items-center">
          <img
            class="card-avatar rounded-circle"
            width="40"
            height="40"
            [src]="item.profile || '../../../assets/images/profile.webp'"
          />
          <div>
            <h5 class="card-title m-1 name-ellipsis">{{ item.name }}</h5>

            <span class="text-small">{{
              item.submittedAt | date : "short"
            }}</span>
          </div>
        </div>

        <div class="card-body">
          <span
            class="badge text-bg-{{
              sentimentToBootstrapColor(item.sentiment)
            }} mb-3"
          >
            {{ item.sentiment }}
          </span>
          <p class="text-muted">
            {{ item.comment === "" ? "No Comment" : item.comment }}
          </p>
        </div>

        <div class="card-footer d-flex align-items-center justify-content-end">
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="delete(item.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
