.masonry {
  column-count: 4; /* number of columns you want */
  column-gap: 1rem;
  padding: 1rem;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  display: inline-block;
}

.name-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; /* ensures ellipsis works reliably */
  max-width: 100%;
}
