<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">
      <button class="btn btn-light me-2" (click)="back()">
        <i class="bi bi-arrow-left"></i>
      </button>
      {{
        transparencySeal === null
          ? "Create Transparency Seal"
          : "Update Transparency Seal"
      }}
    </span>
  </div>
</nav>

<div class="container my-4">
  <form [formGroup]="transparencyForm" (submit)="submit()" class="row g-3">
    <!-- Title -->
    <div class="form-floating col-12">
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Title"
        formControlName="title"
        [ngClass]="{
          'is-invalid':
            transparencyForm.get('title')?.invalid &&
            transparencyForm.get('title')?.touched
        }"
      />
      <label for="title" class="form-label">Title</label>
      <div class="invalid-feedback">Title is required.</div>
    </div>

    <div class="col-12 d-flex align-items-center justify-content-between">
      <h4>File Attachment</h4>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="createAttachment()"
      >
        <i class="bi bi-plus"></i>
      </button>
    </div>

    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>File</th>

            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachments$; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ attach.title }}</td>
            <td>
              <a
                *ngIf="attach.file"
                [href]="attach.file"
                target="_blank"
                type="button"
                class="d-flex align-items-center text-decoration-none"
              >
                <i class="bi bi-file-earmark-text me-1"></i>
                View File
              </a>
            </td>

            <td>
              <button
                class="btn btn-sm btn-outline-danger"
                type="button"
                (click)="delete(attach.id, attach.file ?? null)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="attachments$.length === 0">
            <td colspan="5" class="text-center">No attachments found.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button
      type="submit"
      class="btn btn-primary w-100 col-12"
      [disabled]="transparencyForm.invalid"
    >
      {{ transparencySeal === null ? "Create" : "Update" }} Transparency Seal
    </button>
  </form>
</div>
