<div class="container-fluid d-flex justify-content-center p-4">
  <div class="card" style="max-width: 1080px; width: 100%">
    <div class="card-header bg-light border-0">
      <div
        class="d-flex align-items-center justify-content-between p-3"
        *ngIf="user$ | async as user"
      >
        <h4>Notifications</h4>
        <button
          class="btn btn-light"
          [ngClass]="
            hasUnSeenNotification(user.id) ? 'text-primary' : 'text-muted'
          "
          (click)="markAllRead(user.id)"
          [disabled]="!hasUnSeenNotification(user.id)"
        >
          Mark all read
        </button>
      </div>
      <ul
        ngbNav
        #nav="ngbNav"
        class="nav nav-tabs nav-pills border-0 d-flex w-100"
      >
        <li ngbNavItem class="flex-fill text-center">
          <button ngbNavLink class="w-100">All</button>
          <ng-template ngbNavContent>
            <ul class="list-group list-group-flush">
              @for (notification of notifications; track $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                [class.bg-light]="!isSeen(notification)"
                [routerLink]="[notification.id]"
              >
                <div class="ms-2 me-auto w-100">
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="fw-bold">{{ notification.title }}</div>
                    <span class="text-muted small">
                      {{ notification.createdAt | date : "short" }}
                    </span>
                  </div>
                  <p class="text-small text-muted text-ellipsis-2 mb-0">
                    {{ notification.body }}
                  </p>
                </div>
              </li>
              }
            </ul>
          </ng-template>
        </li>

        @for (item of types$; track $index) {
        <li ngbNavItem class="flex-fill text-center">
          <button ngbNavLink class="w-100">{{ item }}</button>
          <ng-template ngbNavContent>
            <ul class="list-group list-group-flush">
              @for (notification of getUserNotificationByType(item); track
              $index) {
              <li
                class="list-group-item d-flex justify-content-between align-items-start"
                [class.bg-light]="!isSeen(notification)"
                [routerLink]="[notification.id]"
              >
                <div class="ms-2 me-auto w-100">
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="fw-bold">{{ notification.title }}</div>
                    <span class="text-muted small">
                      {{ notification.createdAt | date : "short" }}
                    </span>
                  </div>
                  <p class="text-small text-muted text-ellipsis-2 mb-0">
                    {{ notification.body }}
                  </p>
                </div>
              </li>
              }
            </ul>
          </ng-template>
        </li>
        }
      </ul>
    </div>
    <div class="card-body">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
