<form [formGroup]="providerForm" (ngSubmit)="submit()">
  <div class="modal-header">
    <h4 class="modal-title">
      {{ provider ? "Update Provider" : "Create Provider" }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>

  <div class="modal-body" style="max-height: 65vh; overflow-y: auto">
    <div class="row">
      <div class="col-md-12">
        <!-- Name -->
        <div class="form-floating mb-3">
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
            placeholder="Name"
            [class.is-invalid]="
              providerForm.get('name')?.invalid &&
              providerForm.get('name')?.touched
            "
          />
          <label for="name">Name *</label>
          <div class="invalid-feedback">Name is required.</div>
        </div>
      </div>

      <div class="col-md-12">
        <!-- Type -->
        <div class="form-floating mb-3">
          <select
            id="type"
            class="form-select"
            formControlName="type"
            [class.is-invalid]="
              providerForm.get('type')?.invalid &&
              providerForm.get('type')?.touched
            "
          >
            <option [ngValue]="null" disabled>Select provider type</option>
            <option *ngFor="let type of providerTypes" [ngValue]="type">
              {{ type }}
            </option>
          </select>
          <label for="type">Provider Type *</label>
          <div class="invalid-feedback">Provider type is required.</div>
        </div>
      </div>

      <div class="col-md-12">
        <!-- Address -->
        <div class="form-floating mb-3">
          <input
            type="text"
            id="address"
            class="form-control"
            formControlName="address"
            placeholder="Address"
            [class.is-invalid]="
              providerForm.get('address')?.invalid &&
              providerForm.get('address')?.touched
            "
          />
          <label for="address">Address *</label>
          <div class="invalid-feedback">Address is required.</div>
        </div>
      </div>

      <div class="col-md-12">
        <!-- Contact Number -->
        <div class="form-floating mb-3">
          <input
            type="text"
            id="contactNumber"
            class="form-control"
            formControlName="contactNumber"
            placeholder="Contact Number"
          />
          <label for="contactNumber">Contact Number</label>
        </div>
      </div>

      <div class="col-md-12">
        <!-- Email -->
        <div class="form-floating mb-3">
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
            [class.is-invalid]="
              providerForm.get('email')?.invalid &&
              providerForm.get('email')?.touched
            "
          />
          <label for="email">Email</label>
          <div class="invalid-feedback">Please enter a valid email.</div>
        </div>
      </div>
      <div class="col-md-6">
        <h5 class="text-primary">Training Programs</h5>
        <div
          *ngFor="let program of trainingPrograms.controls; let i = index"
          class="input-group mb-2"
        >
          <input
            type="text"
            class="form-control"
            [formControl]="program"
            placeholder="Training Program"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="removeTrainingProgram(i)"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          (click)="addTrainingProgram()"
        >
          + Add Training Program
        </button>
      </div>
      <div class="col-md-6">
        <h5 class="text-primary">Ac Accredited Qualifications</h5>
        <div
          *ngFor="let qual of accreditedQualifications.controls; let i = index"
          class="input-group mb-2"
        >
          <input
            type="text"
            class="form-control"
            [formControl]="qual"
            placeholder="Accredited Qualification"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="removeAccreditedQualification(i)"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          (click)="addAccreditedQualification()"
        >
          + Add Qualification
        </button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Close
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isLoading || providerForm.invalid"
    >
      <span
        *ngIf="isLoading"
        class="spinner-border spinner-border-sm me-2"
      ></span>
      Save
    </button>
  </div>
</form>
